ul{
	list-style: none;
}
.mainmenu li a{
	text-decoration: none;
	color: #000;
	margin-left: 25px;
}
.mainmenu li:hover{
	background-color: #f8e6e6;
	height: 40px;
}
.mainmenu{
	position: absolute;
	display: none;
	background-color:rgba(255,255,255,0.7);
	border: 1px solid #000;
	padding: 10px 10px 10px 0;
	line-height: 40px;
	z-index: 9999999;
	top: 0;
}
.mainmenu li{
	padding-right:10px;
}
/*========Triangle=========
*/

.mainmenu:before{
content: '';
width: 0;
height: 0;
margin-left:8px;
border-top: 15px solid transparent;
border-left: 15px solid transparent;
border-right: 15px solid transparent;
border-bottom: 15px solid rgba(255,0,0,0.5);
position: absolute;
top:-30px;
}
.submenu{
	display: none;
	margin-left:140px;

}
.mainsubmenu{
background-color:rgba(255,255,255,0.3);
}
.menu:hover .submenu{
	position: relative;
	display: block;
	background-color:transparent;
	color: #fff;
	width: 200px;
	min-height:40px;
	margin-left: 147px;
	top:-40px;
}
.menu:hover .submenu:hover{
background-color: #f8e6e6;
}
#toogle{
margin-left: 9px;
padding: 15px;
margin-top:-4px;
}
.burger{
	position: absolute;
	top:26px;
	border-left:20px solid #000;
	border-bottom:2px solid #000;
	left:32px;
}	
.burger:before{
	content: '';
	border: 28px 0px 0px 10pxsolid #000;
	position: absolute;
	top:8px;
	overflow: hidden;
	z-index: 9999;
	border-bottom: 2px solid #000;
	border-left: 20px solid #000;
	right:0px;
}
.burger:after{
	content: '';
	border: 28px 0px 0px 10px solid #000;
	position: absolute;
	top:16px;
	overflow: hidden;
	z-index: 9999;
	border-bottom: 2px solid #000;
	border-left: 20px solid #000;
	right:0px;
}
/*menu end*/
.cover{
	background-image: url("../image/cover.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    text-align: center;
    line-height:15;
    margin-bottom:70px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */


#toogle{
margin-left: 9px;
padding: 15px;
margin-top:-23px;
}


}